body{
    background-color: aqua;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-shadow: 1px 1px 2px pink;
    box-shadow: #44803F;
}
body:hover{
    background-color: #2b270f;
}

nav{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: orange;
    border-top: #44803F;
    border-bottom: solid black 1px;
    padding: 16px;
    text-shadow: 1px 1px 2px pink;
}

nav:hover{
    background-color: aquamarine;
}

img{
    padding: 0%;
    margin: 0;
    height: 200px;
    width: auto;
    text-align: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: left;

 }
#recipe{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}
div{
    padding: 0;
    margin: 0;
    background-color: white;
    gap: 0;
    text-align: left;
    background-size: contain;
    background-repeat: no-repeat;

}

main{
    padding: 16px;
    margin: 200px;
}

main:hover{
    background-color: #44803F;
}

/* h1{
    font-size: 3em;
} */
h1, h2, h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    font-variant:small-caps;
    color: green;
    background-color: aqua;
    padding:0%;
    text-shadow: 1px 1px 2px pink;
}

h1, h2, h3:hover{
    background-color: azure;
}



image:hover{
    background-color: red;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFEC5C;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0;
    padding-right: 0;
    color: black;
    text-align: center;
    font-size: larger;
    font-variant: small-caps;
    box-shadow: #2b270f;
}

footer:hover{
    background-color: orange;
}
